# 首先忽略所有文件
*
*/*

# 然后取消忽略指定扩展名的文件
!*.py
!*.spec
!*.ico
!*.txt
!*.md
!*.exe

# 取消忽略 .gitignore 文件本身
!.gitignore

# 忽略 Python 编译文件，即使它们可能有 .py 扩展名
__pycache__/
*.pyc
*.pyo
*.pyd

# 忽略虚拟环境
venv/
env/
.env/

# 忽略 IDE 相关文件
.vscode/
.idea/
*.swp

# 忽略构建目录
build/
dist/